#article{

    height: 100%!important;
    overflow:auto!important;
    zoom:1 !important;
    border:1px solid red !important;

}
.low_right
{
    position: fixed;
    /*background: #eee;*/
    bottom: 40px;
    left: 32%!important;
    /*background-color: #DCFCE9;*/
    /*border: 8px double #06F867;*/
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#input{
    width: 50%!important;
    height: 100%!important;

}
#input textarea{
    width: 100%!important;
    height: 100%;
    line-height: 24px;
    font-size: 19px!important;
    color: #333;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;


}
#output{
    width: 50%!important;
    height: 100%;

}

.question{
    color: #00B86E;
    font-size: 19px;
}
.mulchoise{
    display: none;
    /*border: 1px black solid !important;*/
    padding: 20px 0 0 40px;
}
.Estimate{
    display: none;

    /*border: 1px black solid !important;*/
    padding: 20px 0 0 40px;
}
.Dmulchoise{
    display: none;

    /*border: 1px black solid !important;*/
    padding: 20px 0 0 40px;
}
.filling{
    display: none;

    /*border: 1px black solid !important;*/
    padding: 20px 0 0 40px;
}
.title{
    margin-bottom: 15px;
    color: #181E33;

}
.answer{
    margin-bottom: 15px;


}
.remark{
    margin-bottom: 15px;
    color: blue;
    text-align: inherit;
}
.remark label{
    float: left;
}
.remark .text{
    width: 700px;
    disable:false;
    display: inline-block;

}
.option{
    font-size: 19px!important;
    color: green;
    padding-left: 30px;
    display: block;
    margin-bottom: 15px;
}
.option input{
    border-width: 0 0 1px 0;
    border-style: solid;

    border-color: black;
}
