
#create_paper_form{
    display: none ;
    height: 400px!important;
    width: 600px!important;
    position: absolute;
    background-color: #e4f5e4;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px orchid solid !important;
}
#template_tr{
    display: none;
}
